.cell {
  position: relative;
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  text-shadow: 0.3rem 0.3rem 0.15rem #888, 0.0625rem 0.0625rem 0.125rem black, 0 0 0.3125rem red; /* offset-x | offset-y | blur-radius | color */
}
