.page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.selector-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 3rem;

  position: absolute;
  bottom: 4rem;
  width: 100%;
}

.role-button {
  width: 6rem;
  height: 6rem;
}
