.page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.logo{
  position: absolute;
  width: 100%;
  z-index: -1;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.confirm-button-container{
  position: absolute;
  bottom: 14rem;
  right: 0;
}

.selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  position: absolute;
  bottom: 4rem;
  width: 100%;
}

.role-button {
  width: 6rem;
  height: 6rem;
}
