.title {
  width: 6rem;
  height: 6rem;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 3rem;
}

.grid-item {
  border: 0.2rem solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
